@use '../abstracts/' as abs;

.card-container {
    @include abs.flex(center, stretch, row, wrap, 3em);
    padding: 0 1em;
    margin: 0 auto;
    width: 90%;
}

.card {
    @include abs.flex(stretch, flex-start, column);
    background-color: abs.$White;
    border-radius: .25em;
    box-shadow: abs.$shadow;
    cursor: pointer;
    overflow: hidden;
    width: 300px;
    transform: scale(1);
    transition: all 250ms ease-out;

    img, .small-detail-container {
        pointer-events: none;
    }

    img {
        height: 175px;
        width: 100%;
        object-fit: cover;
    }

    .small-detail-container {
        padding: 1.5em;

        h2, p {
            color: abs.$Dark-Blue;
        }

        h2 {
            margin-bottom: .5em;
        }

        p {
            font-weight: map-get(abs.$nunitoWeight, semiBold);
            line-height: 1.6;

            span {
                font-weight: map-get(abs.$nunitoWeight, light);
            }
        }
    }

    &:hover {
        transform: scale(1.05);
        z-index: 10;
    }
}

@media (min-width: 1100px) {
    .card-container {
        @include abs.flex(space-between, stretch, row, wrap, 1em);
        padding: 0 1em;
        margin: 0 auto;
        width: 90%;
    }

    .card {
        width: 280px;
    }
} 