// COLORS

$Dark-Blue: hsl(209, 23%, 22%);    // (Dark Mode Elements)
$Very-Dark-Blue: hsl(207, 26%, 17%); // (Dark Mode Background)
$Very-Dark-Blue-Text: hsl(200, 15%, 8%);   // (Light Mode Text)
$Dark-Gray: hsl(0, 0%, 52%); // (Light Mode Input)
$Very-Light-Gray: hsl(0, 0%, 98%);  // (Light Mode Background)
$White: hsl(0, 0%, 100%);   // ("Dark Mode Text & Light Mode Elements")

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$nunitoSans: 'Nunito Sans', sans-serif;
$nunitoWeight: (
    light: 300,
    semiBold: 600,
    extraBold: 800
);

$shadow: rgba(187, 187, 187, 0.452) 0 0 1em;
